os: Visual Studio 2015

version: 1.0.0-{build}

nuget:
  account_feed: true
  project_feed: true

before_build:
 - ps: dotnet restore
 - cmd: set DOTNET_ASSEMBLY_FILE_VERSION=%APPVEYOR_BUILD_NUMBER%

artifacts:
 - path: '**\*.nupkg'

build_script:
- cmd: dotnet build src/MakingSense.AspNet.Abstractions
- cmd: dotnet build src/MakingSense.AspNet.HypermediaApi

after_build:
- cmd: dotnet pack src/MakingSense.AspNet.Abstractions
- cmd: dotnet pack src/MakingSense.AspNet.HypermediaApi

notifications:
  - provider: Slack
    auth_token:
      secure: fOssPHTsqm6seWcnywN2TJE9gLtRdd1iXLRWWWWAhx4atR0u0ECGb/9Ij/gI/zafJI+FQvevEemi9epjeRhV/g==
    channel: rest-api
    template: "<{{buildUrl}}|Build {{projectName}} {{buildVersion}} {{status}}> Commit <{{commitUrl}}|{{commitId}}> by {{commitAuthor}} on {{commitDate}}: _{{commitMessage}}_"
