<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--To inherit the global NuGet package sources remove the <clear/> line below -->
		<clear />
		<add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="aspnetrelease" value="https://www.myget.org/F/aspnetrelease/api/v3/index.json" />
		<add key="makingsense-aspnet" value="https://ci.appveyor.com/nuget/makingsense-aspnet" />
	</packageSources>
	<packageSourceCredentials>
		<makingsense-aspnet>
			<add key="Username" value="dtru+read@makingsense.com" />
			<add key="ClearTextPassword" value="4@pdw@BlfpQn" />
		</makingsense-aspnet>
	</packageSourceCredentials>
</configuration>
